:focus { outline: none; }


footer, .footer {
	font-size: 12px;
	background-color: #faf9f9;
}
.myBlue {
	background: rgba(0,62,126, 0.8);
	min-height: 500px;
	position: relative;
	color: white;
}
h5 {
	font-size: 33px;
	line-height: 25px;
	margin: 0;
	padding: 0;
	text-transform: uppercase;
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
	font-weight: 700;
	color: white;
	margin-bottom: 14px;
}
h5.loan {
	color: #353535;
	font-size: 20px;
	margin-bottom: 0px;
	padding-bottom: 0px;
	text-transform: none;
	line-height: 22px;
}
.myBg {
	background-image: url(img/same-day-loan.jpg);
	background-position: -281px;
	background-repeat: no-repeat;
	background-size: cover;
	min-height: 500px;
}
.step-subtitle {
	font-size: 16px;
	line-height: 19px;
	margin: 0 0 30px;
	color: #00b4ff;
	text-transform: none;
}
label, input, span.white {
	font-size: 16px;
	font-family: myriad-pro, arial, sans-serif;
}
.myLabel {
	font-weight: 700;
}
.form-control {
	font-family: myriad-pro, arial, sans-serif;
}
.bottom {
	position: absolute;
	right: 0px;
	bottom: 0px;
}
/*
 * Row with equal height columns
 * --------------------------------------------------
 */
.row-eq-height {
	display: -webkit-box;
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
}
body {
	background-color: #faf9f9;
	color: #353535;
}
.myBorder {
	background-color: white;
	border: 1px solid rgba(0,0,0,.1)
}
.btn-primary:focus, .btn-primary:hover {
	background: #f01717;
	border: 1px solid #c20000;
}
.red {
	color: #f01717;
}
.btn-primary {
	background: #c20000;
	border: 1px solid #c20000;
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}
form {
	margin-bottom: 50px;
}

label.error{
	color: red;
	margin:  0.25em 1em;
	flex:    inherit;
	display: block;
	width:   100%;
}

.text-primary {
	color: rgba(0,62,126, 0.8);
}
li.copyt {
	font-size: 19px;
	font-weight: bold;
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
	color:rgba(0,62,126, 0.8)
}
a{color:rgba(0,62,126, 0.8)}


#bottom-2 p{color:white}

@media (min-width: 576px) {
	.myBg {
		background-position: -0px;
	}
	.myBlue {
		opacity: 1;
		z-index: 1
	}
	form#LoanApplication, .col-form-label, .form-control {
		opacity: 1;
		z-index: 9999
	}
}
